*.csv
*.pickle
*.json
*.7z
*.xz
*.png
*.PNG
*.cbm
*.jpg
*.idea
*.pyc
*.xlsx
*.log
*.ipynb_checkpoints
*results.txt
*-checkpoint.ipynb
*pytest_cache
build
*.coverage

*.crt
*.csr
*.srl
*.key

mlruns
mlartifacts
models
catboost_info
best_models
data_all
